@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animation-delay-2s {
    animation-delay: 2s;
  }
  .animation-delay-4s {
    animation-delay: 4s;
  }
}

.project-btns, .project-tags {
  transition: opacity 200ms ease;
}

.project-btns {
  opacity: 0;
}

.project-card:hover .project-btns {
  opacity: 1;
}

.project-card:hover .project-tags {
  opacity: 0;
}
